<!DOCTYPE html>
<html lang="en">
    <div class="text-center my-5">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
            class="btn btn-secondary rounded-pill">
                {{ page_obj.previous_page_number }}
            </a>
        {% endif %}
        <a href="#"
        class="btn btn-dark rounded-pill NNS_B">
            {{ page_obj.number }}
        </a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
            class="btn btn-secondary rounded-pill"> {# ?keyvalue 를 사용하면 get방식을 요청을 보낸것 #}
                {{ page_obj.next_page_number }}
            </a>
        {% endif %}
    </div>
</html>