{% extends 'base.html' %}
{% load static %}
{# statci을 사용하는 html에서 사용할 때는 load를 사용해서 불러와줘야 한다. #}

{% block content %}

    <style>
        .container{
            padding: 0;
            margin: 0 auto;
        }

        .container div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            flex-direction: column;  {# flex 타입의 display의 아래에 올수 있는 코드 #}
        }

        .container img{
            width: 20rem;
            height: 20rem;
            border-radius: 1rem;
            object-fit: cover;
        {#  object-fit:cover : 사진을 크기에 맞춰서 조절하여 사진의 비율을 맞춰준다.  #}
        }
    </style>

    <div class="container my-4">
        {% for project in project_list %}
            <div>
                <a href="{% url 'projectapp:detail' pk=project.pk %}">
                    <img src="{{ project.image.url }}"
                         alt="">
                </a>
                <span class="NNS_B my-2">{{ project.name | truncatechars:10 }}</span>
                                                        {# truncatechars : 글자를 제한해줄 수 있는 장고 제공 필터 #}
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' %}

    <div class="text-center my-5">
        <a href="{% url 'projectapp:create' %}"
            class="btn btn-outline-dark rounded-pill px-5">
            Create Project
        </a>
    </div>
{% endblock %}